body {
  height: 1000px;
  width: 100vw;
}

.landing-hero {
  position: relative;
  text-align: center;
  background: #fdf3dc;
  padding: 50px 20px;
  overflow: hidden;
}

.background-text {
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 5rem;
  font-weight: bold;
  color: #2563eb;
  white-space: nowrap;
  opacity: 0.2;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.react-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}