@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  padding: 10px 20px;
  box-shadow: none;
}

.navbar-custom .container {
  background: transparent !important;
}

.navbar-custom .navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: bold;
}

.navbar-custom .navbar-nav .nav-link {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #f26b8a;
}

.navbar-custom .navbar-nav .nav-link.active {
  color: #f26b8a;
}
