* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.bg-pink {
  background-color: #f26b8a !important;
}

body {
  background-color: #fdf3dc;
  height: 1000px;
  width: 100vw;
  overflow: hidden;
}
